.gameboardContainer {
  display: flex;
  gap: 50px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.target {
  position: relative;
  border: 1px solid black;
}

.ship {
  background-color: aqua;
}

.miss {
  background-color: violet;
}

.hit {
  background-color: red;
}

.battleship {
  height: 50px;
  background-color: coral;
}

.battleship[data-length='1'] {
  width: 50px;
}

.battleship[data-length='2'] {
  width: 100px;
}

.battleship[data-length='3'] {
  width: 150px;
}

.battleship[data-length='4'] {
  width: 200px;
}
