.gameboardContainer {
  display: flex;
  gap: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.ship {
  background-color: aqua;
}

.miss {
  background-color: violet;
}

.hit {
  background-color: red;
}
